/* 
    General Styles
*/
.box-animated h1{
    font-size: 8rem;
    text-align: center;
    width: 50%;
    align-content: center;
    margin: 400px auto;
}
body{
    background-color: black;
 /*    background-image: url(); */
    /* background-repeat: no-repeat;
    background-size: 100% 100rem; */
}



/* https://c.wallhere.com/photos/83/b2/movies_Star_Wars_Star_Wars_Episode_VI_The_Return_of_the_Jedi_science_fiction_Death_Star-229128.jpg!d */
    /* background-color: black; */
    background-image: url(/src/img/starwars3.jpg);
    /* background-image: url(/src/img/starwars3.jpg); */
    /* background-size:100%; */
    /* background-repeat: no-repeat; */
    /* position: inherit; */
}

